#galerie-statica {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#grid-galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  counter-reset: nrimag 0;
}

#grid-galerie figure:nth-child(1){
  grid-row: 1;
  grid-column: 1;
}
#grid-galerie figure:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

#grid-galerie figure:nth-child(3) {
  grid-row: 2;
  grid-column: 1;
}
#grid-galerie figure:nth-child(4){
  grid-row: 2;
  grid-column: 3;
}
#grid-galerie figure:nth-child(5) {
  grid-row: 3;
  grid-column: 2;
}
#grid-galerie figure:nth-child(6) {
  grid-row: 3;
  grid-column: 3;
}



#grid-galerie img {
  width: 100%;
}

#grid-galerie figcaption {
  text-align: center;
  counter-increment: nrimag 1; 
}

#grid-galerie figcaption::before {
  content: counter(nrimag, lower-roman) ") "; 
}


#grid-galerie figure:hover {
  box-shadow: grey 0px 0px 7px;
}

#grid-galerie figure {
  transition: all 1s linear;
}

@media screen and (max-width: 500px) {
  #grid-galerie {
    display: block;
  }
}

@media screen and (max-width: 800px) {

    #grid-galerie {
      grid-template-columns: repeat(2, 1fr); 
    }
}


#grid-galerie img {
  filter: sepia(100%);
  transition: filter 0.8s ease;
}


#grid-galerie figcaption {
  color: #000; 
  transition: color 0.8s ease;
  text-shadow: none;
}


#grid-galerie img:hover {
  filter: sepia(0%);
}

#grid-galerie figcaption:hover {
  color: #fff; 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
