body{
  --color1: #FA815F;
  --color2: #FAAC46;
  --color3: #FA9C5F;
  --color4: #FA655F;
  --color5: #FAB10C;
  --color6: #cc0000;
  --culoare-deschisa: #ffcb5a;
  --culoare-inchisa: #b66700;
  --culoare-text: black;
  --culoare-text-selectat: white;
  --spatiere:100px;
  --link-visited-color: #8200ae; /* Color for visited links */
    --external-link-hover-color: #000000; /* Color for hover effects */
    --link-hover-background-color: #87CEFA; /* Color for the hover blob */
  background-color: #FAF8D4;
  padding-left:var(--spatiere);
  padding-right:var(--spatiere);
}

body.dark{
  --culoare-mov:rgb(31, 31, 31);
--culoare-roz-inchis:rgb(64,27,66);
--culoare-roz-inchis-t:rgb(64,27,66,0.5);
  --cl-marcare:rgb(81,43,81,0.5);
  --cl-light-t:rgba(255,255,255,0.2);
  --cl-text:white;
  text-shadow:0px 0px 2px black,0px 0px 1px black,0px 0px 1px black;
  --imag-body-backgr:url("../imagini/background-bomboane-dark.jpg");
  --gradient-body:linear-gradient(transparent, transparent 25%, rgba(255,255,255,0.5) 50%, transparent 75%, transparent);
  --background-color: rgb(111, 0, 155);
}

.theme-toggle {
  position: relative;
  width: 40px; 
  overflow: hidden;
}

.theme-toggle i {
  position: absolute;
  top: 40%;
  left: 8%;
  right: 5%;
  font-size: 14px;
  transition: transform 0.5s ease;
}

.dark-mode .theme-toggle i:first-child {
  transform: translateX(-100%); 
}

.theme-toggle i:last-child {
  transform: translateX(100%); 
}

#link-top{
  position:fixed;
  bottom:0.3em;
  opacity:0.5;
  left:0.3em;
  width:3rem;
  box-sizing: border-box;
  height:3rem;
  line-height:3rem;
  text-align:center;
  border:3.5px solid var(--color3);
  border-radius:50%;
  background: rgb(255, 255, 255);
  transition: opacity 2s;
  transition-duration: 500ms;
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.742);
}

#link-top:hover{
  opacity:1;
}

#triunghi-mic {
  position: relative;
  left:0px;
  height:1.5px;
  width:1.5px;
  display:inline-block;
  border-bottom:1.5rem solid var(--color3);
  border-left:0.7rem solid transparent;
  border-right:0.7rem solid transparent;
  vertical-align: top;
  transform: translateY(30%);
}

#triunghi-mic span {
  position: absolute;
  font-size: 19px;
  top: -400%;
  left: 50%;
  bottom: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

#tab-orar {
  border-spacing: 2px;
  border-collapse: collapse;
  color: black;
}

#tab-orar tr:hover {
  background-color: var(--color2);
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: auto;
    max-width: 100%;
  }
  #tab-orar {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
  }
}

#tab-orar td, #tab-orar th{
  border: 1px solid black;
}

#tab-orar thead th:nth-child(2n+1){
  background-color: var(--color5);
}
#tab-orar thead th:nth-child(2n){
  background-color: var(--color1)
}

.taburi-iframe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.button-link {
  display: block;
  width: 150px;
  height: 50px;
  background-color: var(--color1);
  border: 1px solid yellow;
  border-radius: 10px 10px 0 0;
  color: yellow;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 20px;
  margin: 2px 3px;
  transition: 2s;
  transition-duration: 500ms;
  box-shadow: 0px 0px 7px 7px rgba(47, 47, 47, 0.4);
}

.button-link:hover {
  background-color: var(--color6);
}

::cue{
  background-color: var(--culoare-deschisa);
  color: var(--culoare-inchisa);
  font-size: 1em;
}

::cue > :c(.cuv1) {
  text-decoration: underline;
}


#container {
  position: relative;
}

#text {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  position: relative;
}

#text-reflectat {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  position: absolute;
  top: -5px; 
  left: -25px;
  transform-origin: left bottom;
  transform: rotateX(180deg) skew(-50deg) scaleY(0.5) translate(20px, 0);
  opacity: 0.5;
  filter: blur(1.2px);
  transition: transform 1s linear;
}

#text-reflectat:hover {
  transform: rotateX(180deg) skew(-50deg) scaleY(0.75) translate(20px, 0);
}

@media screen and (max-width: 768px) {
  #text {
    font-size: 6vw; /* Redu dimensiunea fontului pentru ecrane mici */
  }

  #text-reflectat {
    font-size: 6vw;
    top: -13px; /* Redu dimensiunea fontului pentru ecrane mici */
  }
}


#imagine {
  position: relative;
  background-image: url("http://irinaciocan.ro/imagini/plante.jpg");
  background-size: cover;
  width: 500px;
  height: 500px;
  filter: grayscale(0%);
  transition: filter 2s linear;
}

#imagine:after,
#imagine:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transition: all 2s linear;
}

#imagine:after {
  background-color: rgb(0, 0, 255);
  mix-blend-mode: lighten;
  left: 0;
}

#imagine:before {
  background-color: rgb(205, 0, 255);
  mix-blend-mode: darken;
  right: 0;
}

#imagine:hover:after,
#imagine:hover:before {
  width: 100%; 
}



#banner-1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25vw; /* 25% din lățimea ecranului */
  height: 25vw; /* latura va fi egală cu 25% din lățimea ecranului */
  background-color: #336699; /* culoare conform schemei cromatice alese */
  color: #ffffff; /* culoare text */
  opacity: 0; /* inițial opacitatea este setată la 0 */
  transition: opacity 0.75s, background-color 0.75s; /* tranziție pentru opacitate și culoare */
  animation: showBanner 5s forwards;
}

#ok_cookies {
  background-color: #ffffff; /* culoare buton */
  color: #336699; /* culoare text buton */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Stilizare la hover pentru buton */
#ok_cookies:hover {
  background-color: #f9d001;
}

/* Animatie pentru afisarea bannerului */
@keyframes showBanner {
  0% {
    transform: translate(-100%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.75;
  }
}

