
p{
    color:var(--color1);
}

h2{
    border:2px solid var(--color1);
}

.first_one {
    color: var(--culoare-inchisa);
    font-style: italic;
  }
  
  .plus {
    font-weight: bold;
    color: black;
  }
  
  .second_one {
    font-style: italic;
    color: var(--color6);
  }


  #linkuri {
    position: relative;
  }
  
  /* Efect hover cu gradient colorat */
  #linkuri:hover {
    background-image: radial-gradient(ellipse at center, var(--color2) 0%, var(--color3) 40%, transparent 80%, transparent 100%);
    background-size: 0% 0%; 
    transition: background-size 0.8s ease-in-out; 
  }
  
  /* Marimea finala a gradientului la hover */
  #linkuri:hover {
    background-size: 100% 100%;
  }
  
  /* Adaugare bordura la click (:active state) */
  #linkuri:active {
    border: 1px solid red;
    padding: -1px;
  }
  
  /* Stilizare pentru elementul dinaintea linkului */
  #linkuri::before {
    font-size: 150%;
    margin-right: 0.3em;
    color: var(--color4); 
  }
  

  a[href^="http"] {
    color: var(--color2); 
}

a[href^="http"]::before {
    content: "⮳"; 
    font-size: 150%;
    margin-right: 0.2em; 
}

 /* Schimbarea culorii simbolului atunci când cursorul este pe deasupra */
a[href^="http"]:hover::before {
    color: var(--culoare-deschisa);
}

a[href^="http"]:visited {
    color: var(--link-visited-color); 
}
  