<footer>
    <a href="http://www.google.com" target="_blank">Google</a>
    <!-- <a href="fisier.pdf" download>Descarcabil</a> -->
    <a href="#" title="mergi sus" id="link-top">
        <div id="triunghi-mic"><span>&#5123;</span></div>
    </a>
    <address>
        Bulevardul Carol 1, Bucuresti, Sector 1, Nr 1, Romania 
        <br/>
        <a href="mailto:clothes_select@gmail.com">Mail Clothes Select</a>
        <i class="fa-solid fa-phone"></i> <a href="tel:+40787341754">Telefon Clothes Select</a>

    </address>
    <p><small>Copyright &copy; <time datetime="2012-10-18"> 18 octombrie 2012</time> </small></p>
</footer>
